.mainContainer {
    color: #ccd6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: scroll;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.greetingTitle {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.name {
    display: flex;
    flex-direction: column;
    width: 80%;
    line-height: .8;
    margin-top: 1rem;
    margin-bottom: 1rem;

    & span {
        color: #8892b0;
        font-size: .8rem;
    }
}

.aboutMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;

    & h1, h2, h4, p {
        width: 80%;
        margin: 0;
        gap: 1rem;
        text-align: left;
    }

    & h4 {
        font-size: .8rem;
    }

    & h1 {
        font-size: 2.3rem;
    }

    & p {
        font-size: .8rem;
        margin-top: 1rem;
    }
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 100px;
    }
    50% {
      bottom: 110px;
    }
  }

.arrow {
    border: solid #64ffda;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    bottom: 100px;
    cursor: pointer;
  }

.hideArrow {
    display: none;
}

.square2 {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.gitHub2 a {
    text-decoration: none;
}

.gitHub2 button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(2, 100, 100, 0.685);
    border-radius: 5%;
    color: white;
    padding: 0;
    border-color: transparent;
    cursor: pointer;
}

.gitHub2 img {
    max-height: 40px;
    width: 40px;
    border-radius: 100%;
}

/* PROJECTS */
.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.projectCards {
    display: flex;
    flex-direction: column;
    width: 80%;
    //min-width: 400px;
    gap: 5rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.projectCards .card {
    color: #a8b2d1;

    & h2 {
        text-align: left;
        margin-bottom: 0;
        margin-top: .2rem;
        color: #ccd6f6;
        width: 200px;
    }

    & h4 {
        color: #ccd6f6;
        margin-top: .1rem;
        margin-bottom: .1rem;
    }

    & p {
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        font-size: .9rem;
    }

    & ul {
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;
        padding-right: 1rem;
        font-size: .9rem;
    }

    & .listContainer {
        color: #8892b0;
        display: flex;
        margin-top: 0;
    }

    & .descriptionContainer {
        width: auto;
        padding: 0px 25px 15px 0px;
    }

    & .descriptionContainer p {
        margin: 0;
        text-align: left;
        width: 80%;
    }

}

/* Github button */
.square {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gitHub a {
    text-decoration: none;
}

.gitHub button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5%;
    background-color: #0a192f;
    padding: 0;
    border-color: transparent;
    cursor: pointer;
}

.gitHub img {
    max-height: 40px;
    width: 40px;
    border-radius: 100%;
}

.cardTitle p {
    color: #64ffda;
    text-align: left;
}

.cardTitle h2 {
    text-align: left;
}

.greenText {
    color: #64ffda;
}

.whiteText {
    color: #e6f1ff;
}

.imgContainer {
    margin-top: .5rem;
    text-align: center;
    transition-duration: .5s;
    width: auto;

    &:hover {
        box-shadow: 0 0 0 5px #64ffda;
    }

}

.imgContainer img {
    width: 250px;
}

.textImageDivider {
    display: flex;
    flex-direction: column;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.emailFooter {
    margin: 100px auto;
}

.emailHeader {
    width: 80%;
    margin-bottom: 100px;
}

/* Animations */
@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.4s;
}

/* Desktop */
@media screen and (min-width: 800px) {
    .aboutMeContainer {

        & h4 {
            font-size: 1.4rem;
        }

        & h1 {
            font-size: 5rem;
        }

        & p {
            font-size: 1.5rem;
            margin-top: 1rem;
        }

        & .subHeading {
            font-size: 3.2rem;
        }
    }

    .projectCards .card {
        & p {
            font-size: 1rem;
            width: 50%;
        }

        & ul {
            font-size: 1rem;
        }
    }

    .imgContainer img {
        width: 450px;
    }
  }