* {
  box-sizing: border-box;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(244, 255, 182);
  background-image: url("../../../assets/Space3.png");
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 84.5vh;
}

h1, p {
  font-family: 'Space Mono', monospace;
}

div.textBox {
    background-color: rgba(0, 0, 0, 0.568);
    
    padding: 0;
    margin: 0;
    font-size: 17px;
    width: 80vw;
}

.blinking-cursor {
    font-weight: 900;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: rgb(244, 255, 182);
    }
  }


@media (min-width: 1000px) {

    div.textBox {
      width: 40vw;
      font-size: 20px;
    }
  
    div.container {
      align-items: flex-end;
    }
  
  }