<div class="container">
    
    <div class="textBox">       
        <h1>Hello, there!</h1> 
        <p> My name is Ian. I was born in Mississippi and now live on the East Coast of Florida.
            Some of my interests include coding/web development, playing guitar, gaming, and more.
            I have experience with HTML/CSS, JavaScript, TypeScript, and C#.<br>
            This website was created using the Angular framework! Check out the portfolio page to see my other projects.<span class="blinking-cursor">|</span>
        </p>
    </div>
</div>