

div.container {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: rgb(244, 255, 182);
    background-image: url("../../../assets/Space3.png");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
}

h1, p {
  font-family: 'Space Mono', monospace;
}

div.textBox1 {
    background-color: rgba(0, 0, 0, 0.568);
    width: 40vw;
    font-size: 20px;
    padding: 0%;
    margin: 0%;
}

.blinking-cursor {
    font-weight: 900;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: rgb(244, 255, 182);
    }
  }


@media (max-width: 800px) {

    div.textBox1 {
        font-size: 17px;
        width: 80vw;
    }
  
    div.container {
        align-items: center;
    }
  
  }