div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url("../../../assets/Space2.png");
    height: 100%;
}

div.textBox1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
}