<div class="mainContainer">
    <div class="square gitHub">
        <h3>Check out my GitHub where you can view the source code of my projects! </h3>
        <a href="https://github.com/iancognita" target="_blank">
            <button>
                <img src="../../../assets/github.png" alt="github"> @iancognita
            </button>
        </a>
    </div>
    <div class="square">
        <h3>Example using the RAWG API</h3>
    </div>
    <div class="square">
        <h3>Example of responsive layout built from Sketch file</h3>
    </div>
</div>
    

