<div class="mainContainer">
    <div class="square gitHub">
        <h3>See my GitHub where you can view the source code of my projects! </h3>
        <a href="https://github.com/iancognita?tab=repositories" target="_blank">
            <button>
                <img src="../../../assets/github.png" alt="github"> @iancognita
            </button>
        </a>
    </div>
    <div class="square">
        <h3>Example of responsive layout built from Sketch file</h3>
        <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xc3yYCVSR9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
    

