<div class="navContainer">
  <div class="dropDownContainer">
      <span class="material-icons" (click)='isDisabled=!isDisabled'>
        menu
      </span>
    <div class="dropDownMenu" >
      <ul *ngIf="isDisabled">
        <li routerLinkActive="activeButton" type="button" routerLink='/aboutme'>ABOUT ME</li>
        <li routerLinkActive="activeButton"  type="button" routerLink='/portfolio'>PORTFOLIO</li>
        <li routerLinkActive="activeButton" type="button" routerLink='/contactme'>CONTACT ME</li>
      </ul>
      
    </div>
  </div>
  <mat-toolbar class="navbar" fxShow="true" fxHide.lt-md="true" >
      <button class="glow-on-hover" routerLinkActive="activeButton" type="button" routerLink='/aboutme'>ABOUT ME</button>
      <button class="glow-on-hover" routerLinkActive="activeButton"  type="button" routerLink='/portfolio'>PORTFOLIO</button>
      <button class="glow-on-hover" routerLinkActive="activeButton" type="button" routerLink='/contactme'>CONTACT ME</button>
  </mat-toolbar>
</div>

