* {
    box-sizing: border-box;
    user-select: none;
}

.navContainer {
    display: flex;
    margin: 0;
    background: linear-gradient(60deg, #000000 0%, #7FDBFF 50%,  #000000 100%);
    height: 50px;
    align-items: center;
    justify-content: center;
    overflow: inherit;
}

.glow-on-hover {
    font-family: 'Lato', sans-serif;
    margin: auto 15px;
    width: 220px;
    height: 40px;
    border:solid;
    outline: none;
    color: #7FDBFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border-color: white;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,  #00ffd5, #002bff, #7a00ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
    
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.activeButton:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Responsive Menu */
@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }

    .material-icons, li {
        cursor: pointer;
        color: black;
    }

    .dropDownContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .dropDownMenu {
        display: flex;
        position: absolute;
        top: 21px;
        width: 100%;
    }

    .dropDownList {
        display: flex;
        flex-direction: column;
        background:linear-gradient(60deg, #000000 0%, #1d323a 50%,  #000000 100%);
        color: white;
        list-style: none;
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        transform: scale(0, 1);
        transition: transform 400ms ease-in-out;
        
    }

    .animateUl {
        transform: scale(1, 1);
    }

    .animateLi {
        color: white;
        opacity: 1;
        transition: opacity 300ms ease-in-out 300ms;
    }

    .liContainer {
        
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .deLi {
        transition: opacity 30ms ease-in-out;
        opacity: 0;
    }

    li {
        color: white;
        padding: 15px;
        width: 40%;
        
    }
}

