@import url(//fonts.googleapis.com/css?family=Lato:300:400);

h1 {
  font-family: 'Space Mono', monospace;
  font-weight:300;
  letter-spacing: 2px;
  font-size:30px;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

div.header {
  text-align:center;
  background: linear-gradient(60deg, #000000 0%, rgb(0, 42, 61) 50%, #000000 100%);
  color:white;
  min-height:10vh;
  width:100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 48px;
  }
}