.container {
    display: flex;
    color: white;
    width: 80%;
}

.mailTo{
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        color: white;
        text-decoration-color: white;
    }

    & p {
        font-size: .8rem;
    }
}

.mailTo img {
    height: 20px;
}

h3 {
    font-size: .5rem;
}

/* Desktop */

@media screen and (min-width: 800px) {

    .mailTo p {
        font-size: 1.2rem;
    }

    .mailTo img {
        height: 40px;
    }
}