.container {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 100px;
}

.square {
    width: 65%;
}

.greenText {
    color: #64ffda;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

.mailTo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailTo img {
    height: 40px;
}