<div class="container">
    <div class="square">
        <h3>
            <span class="greenText">Thanks for checking out my projects!</span> I currently work in Software Support, but in the past year,
            much of my free time has become consumed with learning and building. Not only did I find a passion for coding,
            I found a career path that excites me. I'm eager to join a team and put my skills to real world use, while continuing to learn along the way.
        </h3>

        <div class="mailTo">
            <img src="../../../assets/mail_icon.png" alt="emailIcon"> 
            <p><span>Email: </span><span><a href="mailto:ianmchristian@gmail.com">ianmchristian@gmail.com</a></span></p>
        </div>
    </div>
</div>