/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Space Mono";
  src: local("Space Mono"), url(./assets/Fonts/SpaceMono-Regular.ttf) format("truetype");
}

html, body {
  height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }