.to-top {
    bottom: 0;
    cursor: pointer;
    margin: 0 8px 12px 0;
    position: fixed;
    right: 0;
    opacity: 0;
    background-color: #a8b2d1;
    border-radius: 50%;
    padding: 30px;
  }
  
  .show-scrollTop {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
  }

  img {
      height: 2rem;
  }

  @media screen and (max-width: 970px) {
    img {
        height: 1rem;
    }
  }